{% extends 'base.html' %}
{% block content %}
  <div id="search-form">
    <form method="POST">
      <div id="ingredient-inputs">
        <div class="ingredient">
          <input type="text" name="ingredients[]" placeholder="Ingredient 1">
        </div>
        <div class="ingredient">
          <input type="text" name="ingredients[]" placeholder="Ingredient 2">
        </div>
        <div class="ingredient">
          <input type="text" name="ingredients[]" placeholder="Ingredient 3">
        </div>
      </div>
      <div id="ignore-pantry">
      <label for="ignore-pantry">Ignore pantry: <input type="checkbox" name="ignorePantry" id="ignore-pantry"></label>
      </div>
      <p>(water, salt, flour, etc.)</p>
      <div id="button-labels">
      <button type="button" id="add-ingredient">Add Ingredient</button>
      <button type="submit" id="search-button">Search</button>

      <button type="button" id="clear-results" class="btn btn-danger">Clear Results</button>

      </div>
    </form>
  </div>

  <div id="search-results">
    {% for recipe in results %}
    <div class="recipe">
        <h5>{{ recipe['title'] }}</h5>
        <img src="{{ recipe['image'] }}" alt="{{ recipe['title'] }}">
        <br>
        <a href="/search/details/{{ recipe['id'] }}">View Details</a>
        <form action="/users/add_to_menu/{{ recipe['id'] }}" method="post" class="add-to-menu-form">
            {% if recipe['id'] in user_menu_ids %}
                <button type="submit" class="remove-from-menu-btn">Remove from Menu</button>
            {% else %}
                <button type="submit" class="add-to-menu-btn">Add to Menu</button>
            {% endif %}
        </form>
    </div>
    {% endfor %}
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
<script src="{{ url_for('static', filename='ingredientForm.js') }}"></script>
{% endblock %}
