<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyMenu</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body style="background-color: rgb(205, 168, 130)">
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/search/ingredients">Recipe Lookup</a></li>

          {% if user %}
          <li><a href="/users/{{ user.id }}">Profile</a></li>
          <li><a href="/auth/logout">LogOut</a></li>
          <li>Welcome, {{ user.displayname }}</li>
          {% else %}
          <li><a href="/auth/signup">Sign Up</a></li>
          <li><a href="/auth/login">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <div class="footer-content">
        <h3>
          Powered by Spoonacular
          <img
            src="https://play-lh.googleusercontent.com/uOZlIZUJ7R79qs_J_a9cdxrJaGhHwqKTmika25Lp1vTeC1qe9lPQF5jalEFc8Htk7nQ"
            alt="spoonacular logo"
            class="logo"
          />
        </h3>
      </div>
    </footer>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const flashMessages = document.querySelectorAll(".alert");
        flashMessages.forEach((msg) => {
          setTimeout(() => {
            msg.remove();
          }, 5000);
        });
      });
    </script>
  </body>
</html>
