{% extends 'base.html' %}
{% block content %}
<h1>Login to access your menu, and see details of recipes</h1>
<br>
<br>
  <form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
      <div class="form-group">
        {{ field.label }}
        {{ field(class_="form-control", style="width: 300px;") }} 
        {% for error in field.errors %}
          <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
    <button class="btn btn-success" type="submit">Login</button>
  </form>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}
