{% extends 'base.html' %} {% block content %}
<div id="banner">
  <div class="banner-left">
    <h2>{{ summary.title }}</h2>
    {% if image %}
    <img src="{{ image.image }}" alt="{{ summary.title }}" />
    {% endif %}
  </div>
  <div class="banner-right">
    <p>{{ summary.summary | safe }}</p>
    <form
      method="post"
      action="/users/add_to_menu/{{ image.id }}"
      class="menu-form"
    >
      <button
        class="btn btn-sm {% if image.id in user_menu_ids %}btn-danger{% else %}btn-primary{% endif %}"
      >
        {% if image.id in user_menu_ids %} Remove from Menu {% else %} Add to
        Menu {% endif %}
      </button>
    </form>
  </div>
</div>

<div class="row mt-5">
  <!-- Add margin top to the row -->
  <div class="col-md-3">
    <div class="ingredient-lists">
      <div class="ingredient-list">
        <h3>Equipment</h3>
        <ul>
          {% for equipment in equipment_set %}
          <li>{{ equipment }}</li>
          {% endfor %}
        </ul>
      </div>
      <br />
      <div class="ingredient-list">
        <h3>Ingredients</h3>
        <ul>
          {% for ingredient in ingredient_set %}
          <li>{{ ingredient }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-9 mt-md-0 mt-3">
    <!-- Add margin top to the column on medium and extra small devices -->
    <div id="steps-list">
      <ul class="steps">
        {% for instruction in instructions %} {% for step in instruction.steps
        %}
        <li>
          <strong class="step-number">Step {{ step.number }}:</strong>
          {{ step.step }}
        </li>
        {% endfor %} {% endfor %}
      </ul>
    </div>
  </div>
</div>
<br /><br /><br />

<link rel="stylesheet" href="{{ url_for('static', filename='details.css') }}" />
{% endblock %}
