{% extends 'base.html' %} {% block content %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <div>
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} mt-4">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %} {% endwith %}

  <h1>{{ user.username }}'s Profile</h1>
  <a href="/users/{{ user.id }}/edit" class="btn btn-success">Edit</a>

  <div id="search-results">
    <h2 style="text-align: center">Your Menu</h2>
    {% for recipe in recipe_data %}
    <div class="recipe">
      <h5>{{ recipe['title'] }}</h5>
      <img src="{{ recipe['image'] }}" alt="{{ recipe['title'] }}" />
      <br />
      <a href="/search/details/{{ recipe['id'] }}" class="recipe-details-link"
        >View Details</a
      >
      <br />
      <form action="/users/add_to_menu/{{ recipe['id'] }}" method="post">
        {% if recipe['id'] in user_menu_ids %}
        <button type="submit" class="btn btn-danger">Remove Recipe</button>
        {% else %}
        <button type="submit" class="btn btn-primary">Add to Menu</button>
        {% endif %}
      </form>
    </div>
    {% endfor %}
  </div>

  <br /><br /><br /><br /><br />

  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='profile.css') }}"
  />
</div>
{% endblock %}
